<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leave Team</title>
  </head>
  <body>
    <form method="post">
      {% csrf_token %}
      <h2>
        You are about to leave the team. Please select a new leader/founder.
        <br />
        <br />

        <label for="studentList">Members:</label>
        <input type="text" name="studentList" list="studentList" />
        <datalist id="studentList">
          {% for i in student %}
          <option value="{{ i.username.username }}">
            {{i.username.firstName}} {{i.username.lastName}}
          </option>
          {% endfor %}
        </datalist>
      </h2>
      <button type="submit" value="Leave Team">LEAVE TEAM</button>
    </form>
  </body>
</html>
