<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Member List</title>
  </head>
  <body>
    {% include 'team/navbar.html' %}
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Section</th>
          <th>Action</th>
        </tr>
      </thead>
      {% for i in members %}
      <tr>
        <td>{{i.username.username}}</td>
        <td>{{i.username.firstName}}</td>
        <td>{{i.username.lastName}}</td>
        <td>{{i.username.section}}</td>
        <td>
          <a href="kickMember/{{i.studentID}}"><button>KICK</button></a>
        </td>
      </tr>
      {% endfor %}
    </table>
    <br />
    <br />
    <a href="{% url 'team:leaveTeam' user%}"><button>LEAVE TEAM</button></a
    ><br />
    <br />
    <a href="{% url 'team:teamTableView' user%}"><button>Back</button></a>
  </body>
</html>
